@import url("../../../global/css/var.css");
@import url("style.css");
@import url("var_admin.css");

.profil__card {
  width: 400px;
  margin: 75px 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: var(--text-grey);
  font-size: 16px;
  border-radius: 7px;
}

.profil__card-header {
  position: relative;
  height: 48px;
}

.profil__card-header .profil-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.profil__card-body {
  padding: 10px 40px;
}

.profil__card-body h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
  text-transform: uppercase;
}
.profil__card-body p {
  font-size: 16px;
}

.profil__card-footer {
  min-height: 60px;
  background-color: var(--main-color);
  display: flex;
  justify-content: flex-end;
}

.profil__card-footer a {
  margin: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  background: #fff;
  color: var(--main-color);
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.profil__card-footer a:hover {
  background: var(--main-color);
  color: #fff;
  border: 1px solid #fff;
}

/* ##### update ##### */

.update__container {
  margin-top: 4rem;
  width: 95%;
  height: auto;
}

.profil__pics img {
  width: 100px;
  border-radius: 50%;
}

.hiddenFileInput > input {
  height: 100%;
  width: 100;
  opacity: 0;
  cursor: pointer;
}
.hiddenFileInput {
  position: relative;
  left: -40px;
  top: 60px;
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  background: center center no-repeat;
  background-size: 75% 75%;
  background-image: url("../../../global/img/plus-circle-solid.svg");
}

.hiddenFileInput.hidden__delete {
  position: relative;
  width: 30px;
  height: 30px;
  color: #f00134;
  background-image: url("../../../global/img/trash-alt-regular.svg");
}

.update_footer {
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
}

.update_footer input {
  margin: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  background: var(--main-color);
  color: #fff;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.update_footer input:hover {
  background: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
