@import url("var.css");
@import url("notification.css");

html{
  box-sizing: border-box;
  font-size: 16px;
}
*, ::before, ::after{
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h6, p, ol, ul{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body{
  background-color: #212529;
  height: 2000px;
}

ol, ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Oswald', sans-serif;
  color: #26313c;
  line-height: 1.5;
}

ul{
  margin: 0;
  padding: 0;
}

/* *************** */
/* ***  Scroll-bar *** */
/* *************** */

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  width: 10px;
  background: #212529;
  border-left: 0 solid #FFF;
  border-right: 0 solid #FFF;
}

::-webkit-scrollbar-thumb{
background-color: var(--violet);
width: 0;
height: 20%;
transition: 0.5 ease;
cursor: pointer;
}

/* *************** */
/* *** header *** */
/* *************** */

.header{
  position: relative;
  transition: 0.5s;
  z-index: 9;
}

.header.sticky{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #212529;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 10px 10px -10px rgba(0 ,  0, 0, 0.35);
  z-index: 100;
}

.header .wrap{
  width: 1140px;
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.header .logo{
  margin: 0;
  padding: 16px 0;
}

.header .logo a,
.header .logo a img{
  display: block;
}

.header .logo a{
  background: -webkit-linear-gradient(315deg, rgba(119, 75, 187, 0.9) 20%, rgba(255, 140, 0, 0.9) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--takota);
}
.web{
  background: -webkit-linear-gradient(315deg, rgba(119, 75, 187, 0.9) 20%, rgba(255, 140, 0, 0.9) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .menu ul{
  display: none;
}

.header .menu li{
  padding: 16px;
}

.header .menu a{
  font-size: 1.2rem;
  color: #FFF;
  padding: 8px;
  display: block;
  text-transform: uppercase;

}

.header .menu a:hover{
  color: var(--violet);
}

.header .sidemenu-toggler{
  position: absolute;
  width: 40px;
  padding: 6px;
  top: 23px;
  right: 10px;
}

.header .sidemenu-toggler > span{
  display: block;
  background-color: #FFF;
  height: 2px;
}

.header .sidemenu-toggler > span:nth-child(2){
  margin: 4px 0 4px auto;
  width: 75%;
  transition: 0.3s all;
}

.header .sidemenu-toggler > span:nth-child(3){
  margin-left: auto;
  width: 50%;
  transition: 0.6s all;
}


.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
  width: 100%;
}

.header .sidemenu{
  position: fixed;
  top: 0;
  right: 0;
  background-color:  var(--violet);
  background-image: linear-gradient(315deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 74%);
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 4rem;
  color: #FFF;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  text-align: center;
}

.header .sidemenu.active{
  transform: translate3d(0,0,0);

}

.header .sidemenu .close{
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 20px;
  top: 24px;
}

.header .sidemenu .close::before,
.header .sidemenu .close::after{
  content: '';
  position: absolute;
  top: 0;
  left: 13px;
  height: 28px;
  width: 2px;
  background-color: #FFF;
}

.header .sidemenu .close::before{
  transform: rotate(45deg);
}

.header .sidemenu .close::after{
  transform: rotate(-45deg);
}

.header .sidemenu nav ul{
  padding-top: 30px;
}

.header .sidemenu nav li{
  padding : 15px 0 ;
}

.header .sidemenu nav a {
  font-size: 1.3rem;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;

}

.header .sidemenu footer{
  padding-top: 100px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.header .sidemenu footer .social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.header .sidemenu footer .social a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #FFF;
  transition: all 0.3s linear;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 30px;
}

.header .sidemenu footer p{
  font-size: 14px;
}

/* *************** */
/* ***  hero *** */
/* *************** */

.home{
  height: 100vh;
  padding: 1rem;
  padding-top: 2rem;
}

.hero-text{
  font-family: var(--poppins)
}

.title{
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  font-size: 14px;
  line-height: 24px;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.name{
  font-size: 60px;
  letter-spacing: -1px;
}

.designation{
  font-size: 20px;
}

.coffee{
  height: 20px;
  width: 20px;
}

.social-icons li{
  list-style: none;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}
.social-icons a{
  text-decoration: none;
  color: #FFF;
}
.social-icons li :hover{
  transition: font-size 1s;
  font-size: 35px;
  color: var(--violet);
}

.hero-img{
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('../img/blob-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* *************** */
/* *** about *** */
/* *************** */

.about{
  font-family: var(--poppins);
  height: 100vh;
}


.about .heading{
  display: block;
}

.about-img{
  width: 200px;
  height:200px;
  background-image: url('../img/mac.png');
  background-size: 100% 100%;
  border-radius: 50%;
  float: left;
  shape-outside: border-box;
}

.about h2{
  font-size: 30px;
  margin-bottom: 1rem;
}
.about .gap{
  margin-bottom: 10px;
  font-size: 14px;
}


.about .gap h2{
  display: none;
}
.about .gap p{
  margin-bottom: 10px;
}

.about .tag{
  margin-top: 10px;
}

.about .tag ul{
  text-align: center;
}

.about .tag ul li{
  margin: 0 6px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-flex;
  padding: 4px 0px;
}

.about .tag ul li span{
  border: 1px solid #774BBB;
  padding: 4px 10px;
  border-radius: 4px;
}

.about .tag ul li span:hover{
  background: transparent !important;
}

.download-btn{
  text-align: center;
}

.custom-btn{
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: 1s ease-in;
  font-size: 14px;
}

.custom-btn:hover{
  background-image: inherit;
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
}

/* *************** */
/* ***  services *** */
/* *************** */

.services .heading{
  margin-bottom: 4rem;
  font-size: 30px;
  font-family: var(--poppins);
}

.services .services-items{
  padding: 20px;
  border-radius: 4px;
  font-family: var(--poppins);
  transition: 0.3s ease-in;
}

.services .services-items:hover{
  transform: translateY(-10px);
  box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(119, 75, 187, 0.9);

}

.services .services-items .fas,
.services .services-items .fab{
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 16px;
}

.purple-color{
  color: #774BBB;
}

.iron-color{
  color: #c466a8;
}

.sky-color{
  color: #5ac7f2;
}

.services .services-items h3{
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 34px;
}

/* *************** */
/* ***  Price *** */
/* *************** */

.pricing{
  margin-top: 4rem;
}
.pricing .heading{
  font-size: 30px;
  font-family: var(--poppins);
}

.dark-bg{
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  background: #202026;
  box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0 ,  0, 0, 0.12);
padding: 20px 30px;
}


.pricing-item{
  margin-top: 4rem;
  padding: 30px 0;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 30px;
  border: 4px;
  transition: 0.3s ease-in;
}

.pricing-item:hover{
  transform: translateY(-10px);
  box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(119, 75, 187, 0.9);
}

.pricing-item .fa,
.pricing-item .fas{
  font-size: 40px;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.pricing-item .fa-calendar{
  color: var(--violet);
}

.pricing-item .fa-store{
  color: #5ac7f2;
}

.pricing-item .fa-shopping-cart{
  color: #c466a8;
}

.pricing-item h4{
  margin-bottom: 10px;
  margin-top: 20px;
}

.pricing-item ul{
  margin: 30px 0;
}

.pricing-item .custom-btn{
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: 1s ease-in;
  font-size: 14px;
}

.pricing-item .custom-btn:hover{
  background-image: inherit;
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
}

.condition{
  text-transform: lowercase;
  color: var(--light-white);
  font-size: 10px;
text-align: center;
}

/* *** Compétences *** */

.skills{
  margin-top: 4rem;
}

.skills .heading{
  margin-bottom: 4rem;
}

.skills .pro-skill,
.skills .tech-skill{
  padding-left: 20px;
  padding-right: 20px;
}

.skills .pro-skill h3,
.skills .tech-skill h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  font-family: var(--poppins);
  margin-bottom: 3rem;
}

/* *** tech skill *** */

.tech-skill{
  margin-bottom: 4rem;
}

.candidatos{
  position: relative;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.candidatos .parcial{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.candidatos .parcial .info{
  position: relative;
  font-family: var(--poppins);
}

.candidatos .parcial .info .skill-name{
 position: absolute;
 top: 0;
 left: 0;
 font-family: var(--poppins);
font-size: 15px;
font-weight: 600;
opacity: 0.9;
}

.candidatos .parcial .info .pourcentage-num{
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--poppins);
 font-size: 14px;
 font-weight: normal;
}

.candidatos .parcial .progressBar{
position: relative;
width: 100%;
height: 7px;
margin: 30px 0 2px;
border-radius: 10px;
background: rgba(0, 0, 0, 0.5);
}


.candidatos .parcial .pourcentagem{
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  -webkit-transition: 3s all;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: animationProgress;
  font-family: var(--poppins);
  transition: 3s all;
  animation-name: animationProgress;
}

/* .candidatos .parcial .pourcentagem.progress{
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  -webkit-transition: 3s all;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: animationProgress;
  font-family: var(--poppins);
  transition: 3s all;
  animation-name: animationProgress;
} */

.precentual{
  animation-name: animationProgress;
}

@keyframes animationProgress{
  from{
    width: 0;
  }
}

/* *** soft skill *** */

.card{
  background: transparent;
  border: none;
  display: block;
}

.card .circle .box,
.card .circle .box span{
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
}

.card .circle .box{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.card .text,
.card .circle .box span{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.mh-pro-progess li{
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
}

.mh-progress{
  margin-bottom: 10px;
  font: 900 1.14285/1 Cinzerl, cursive;
}

/* ****************** */
/* ***  Portfolio *** */
/* ****************** */

.portfolio{
  margin-top: 4rem;
}

.portfolio .heading{
  margin-bottom: 2rem;
  color: #FFF;
  font-family: var(--poppins);
}

.portfolio-nav{
  margin: 0 auto;
  margin-bottom: 40px;
}

.portfolio-nav ul{
  float: none;
  margin: 0 auto;
  text-align: center;
}

.portfolio-nav ul li{
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #FFF;
  font-family: var(--poppins);
}

.portfolio-nav ul li:hover{
  color: var(--violet);
}

.portfolio-nav ul li.active{
  color: var(--violet);
}

.portfolio-nav ul li span{
  padding: 15px 0;
  border-bottom: 2px solid transparent;
}

.portfolio-nav ul li.current span{
  border-bottom: 2px solid var(--violet);
}

.grid-item figure{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.grid-item figure img{
  display: block;
  width: 100%;
  position: relative;
}

.grid-item figure .fig-caption{
  padding: 15px;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: #FFF; 
  z-index: 10;
  transition: 0.5;
  font-family: var(--poppins);
}

.grid-item figure .fig-caption::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  z-index: -1;
  opacity: 0;
}

.grid-item figure a{
  text-decoration: none;
  color: #FFF;
  transition: 0.3s ease-in;
}


.grid-item figure .fig-caption .fa{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 45%;
  margin-top: -22px;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
  letter-spacing: 0px;
}

figcaption .title{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 30px;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  transition: all 0.4s ease-out;
  opacity: 0;
  letter-spacing: 0px;
  background: none;
}
.fig-caption .sub-title{
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 13px;
  top: 50%;
  margin-top: 30px;
  transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  transition: 0.5s;
  opacity: 0;
  letter-spacing: 0px;
}
.grid-item figure:hover{
  transform: all 0.4 ease-out;
}

figure:hover figcaption{
  color: #FFF;
  background: rgba(119 , 75, 187, 0.9);
}
.grid-item figure:hover figcaption::after{
opacity: 1;
transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
transition: all 0.4 ease-out;
}

.grid-item figure:hover figcaption .fa{
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
transition: 0.2s;
opacity: 1;
}

.grid-item figure:hover figcaption .title{
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
transition: 0.4s;
opacity: 1;
margin-top: -5px;
}

.grid-item figure:hover figcaption .sub-title{
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
transition: 0.6s;
opacity: 1;
}


/* ********************* */
/* ***  Expériences *** */
/* ******************** */

.experience{
  margin-top: 4rem;
}

.education-item,
.work-item{
  position: relative;
}

.experience h3{
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}



.experience .education-details .education-item,
.work .work-details .work-item{
  margin-bottom: 20px;
  padding: 26px 30px;
  border-radius: 4px;
  min-height: 300px;
  box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0 ,  0, 0, 0.12);
  transition: 0.3s ease-in;
}

.experience .education-details .education-item:hover,
.work .work-details .work-item:hover{
  transform: translateY(-10px);
box-shadow: 0 25px 22px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(119 75 187 / 90%);
}



.experience .education-details .education-item:last-child,
.work .work-details .work-item:last-child{
  margin-bottom: 0;
}

.education-item h4,
.work-item h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.education-item h4 a,
.work-item h4 a{
  color: #5ac7f2;
}

.education-item .eduyear,
.work-item .eduyear{
  margin: 10px 0;
  color: #774BBB;
  font-family: 'Poppins', sans-serif;
}

.education-item p,
.work-item p{
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.education-item .link-education,
.work .link-experience{
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: 1s ease-in;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.education-item .link-education:hover,
.work .link-experience:hover{
  background-image: inherit;
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
}

.work{
  margin-top: 4rem;
}

.experience .download-btn{
  margin-top: 4rem;
}

/* **** expérience modal **** */

.modal-content{
  color: #FFF;
  background-color: #26313c;
  border-radius: 10px;
}
.shape{
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  position: absolute;
  clip-path: ellipse(150px 150px at 10% 5%);
  -webkit-clip-path:ellipse(150px 150px at 10% 5%);
}

body.modal-open .bg{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.modal-body .modal-text{
  padding-top: 2rem;
}

.modal-body .modal-text h4{
  margin-bottom: 10px;
}

.modal-body .modal-part-text{
  padding-top: 2rem;
}

.modal .btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  z-index: 50;
  background: transparent url("../../global/img/cancel.svg") center/1em auto
  no-repeat;
  opacity: 1;
  cursor: pointer;
  border: none;
  z-index: 20;
}

/* *************** */
/* ***  Contact *** */
/* *************** */

.contact{
  margin-top: 4rem;
}

.contact-info,
.contact-form{
  font-family: var(--poppins);
  color: #FFF;
}

.contact-info h4{
font-size: 34px;
margin-bottom: 1rem;
font-weight: 400;
font-family: var(--poppins);
}

.contact-info P{
  font-size: 16px;
  
}

.contact-info ul{
  margin: 0;
  padding: 10px 0 0;
}

.contact-info ul li{
  font-size: 18px;
  font-family: 400;

line-height: 1.3;
font-family: var(--poppins);
position: relative;
}
.contact-info ul li i{
  color: #774BBB;
  width: 30px;
  text-align: center;
  font-size: 22px;
}
.contact-info ul li{
  padding-top: 20px;
}
.contact-info ul li a{
  text-decoration: none;
  color: #FFF;
}

.contact-info ul li a:hover{
  color: #774BBB;
}
.contact-info li span{
  padding-left: 20px;
}

.form-part{
  margin-top: 4rem;
}

.form-part form{
  position: relative;
}


.contact-form h4{
  font-weight: 400;
  font-size: 22Px;
  margin-bottom: 20px;
}

.contact-form .form-control{
  color: white;
  background: none;
  border : 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  height: calc(2em + 0.75rem + 2px);
}
.contact-form .form-control:focus{
  border: 1px solid var(--violet);
}
.contact-form textarea.form-control{
  height: auto;
}



.contact-form .sendMsg{
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
  background-image: linear-gradient(to right, rgba(119, 75, 187, 0.9) 10%, rgba(255, 140, 0, 0.9) 74%);
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  transition: 1s ease-in;
  font-size: 14px;
  position: absolute;
  right: 0;
}




.contact-form .btn:hover{
  background-image: inherit;
  color: #FFF;
  background-color: rgba(119, 75, 187, 0.9);
}

.contact-form .valideCheck-container{
  padding-left: 10px;
}

.checkbox {
  cursor: pointer;
  font-size: var(--poppins);
}

.checkbox:hover .checkbox_check {
  background: var(--violet);
}

.checkbox_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox_input:checked + .checkbox_check {
  background: var(--violet);
  stroke-dashoffset: 0;
}

.checkbox_check {
  border: 0.2rem solid var(--violet);
  stroke: #f9f9f9;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  stroke-linecap: round;
  stroke-width: 0.2em;
  border-radius: 0.3em;
  fill: none;
  transition: background 0.4s, stroke-dashoffset 
0.6s;
}

.checkbox span{
  margin-left: 10px;
  font-size: 14px;
}

/* *************** */
/* ***  footer *** */
/* *************** */

footer p{
  color: #FFF;
  text-align: center;
  font-family: var(--poppins);
  margin-top: 4rem;
}

/* ***  Responsive *** */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Small devices (landscape phones, Ony) */
@media only screen and (orientation: landscape) {

/* ***  hero *** */
.home{
  padding-top: 0 !important;
}
.designation{
  font-size: 16px;
}
.hero-img {
  background-position-x: 0 !important;
}

/* ***  about *** */

.about{
  height: initial !important;
  margin-bottom: 4rem;
}

/* *** skills *** */
.skills{
  height: inherit !important;
}

.about .about-img{
  margin-top: 0 !important;
  width: 200px ;
  height: 200px ;
  shape-outside: border-box !important;
}

/* ***  services *** */

.services{
  height: initial !important;
}

.pricing{
  margin-top: 2rem !important;
}

.pricing .heading{
  margin-bottom: 0 !important;
}

/* ***  portfolio *** */
.portfolio{
  height: auto !important;
}

/* ***  contact *** */

.contact{
  height: inherit !important;
}

}

@media screen and (max-width :600px){
  .shape{
    clip-path: inset(0% 0% 83% 0%);
    -webkit-clip-path: inset(0% 0% 83% 0%);
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

/* ***  header *** */

  .header .sidemenu{
    width: 70%;
  }

/* ***  hero *** */

  .home{
    padding: 2rem;
    padding-top: 10rem;
    height: 100vh;
  }

  .hero-img {
    background-position-y: -1rem;
    background-position-x: -3rem;
  }

  
  /* ***  about *** */

  .about{
    padding-top: 10rem;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .about .heading{
    display: none;
  }

  .about .about-img{
    width: 250px;
    height: 250px;
  }

  .about .gap h2{
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .about .gap p{
    font-size: 20px;
  }

  /* ***  services *** */

  .services{
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .services .heading{
    font-size: 40px;
  }

    /* *** Pricing*** */

  .pricing{
    padding-top: 10rem;
  }

  /* *** Skills *** */

  .skills{
    height: 100vh !important;
    display: flex;
    align-items: center;
  }

  .skills .heading{
    margin-bottom: 6rem;
  }

  /* *** Portfolio *** */

  .portfolio{
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .education,.work{
    margin-top:0;
  }

  .education{
    padding-right: 25px;
  }
  .work{
    padding-left: 25px;
  }

  /* *** Expérience *** */

  .experience{
    
    padding-top: 10rem;
  }

  .modal-body .modal-text{
    padding-top: 0;
  }
  .modal-body .modal-part-text{
    padding-top: 6rem;
  }
  .experience .education-details .education-item,
.work .work-details .work-item{
  min-height: 350px;
}

/* *** contact *** */

.contact{
  height: 100vh !important;
  display: flex;
  align-items: center;
}

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  /* ***  header *** */

  .header .sidemenu{
    width: 40%;
  }

  /* ***  hero *** */

  .home{
    padding: 2rem;
    padding-top: 10rem !important;
    height: initial;
  }

  .name {
    font-size: 80px;
}

  .designation{
    font-size:25px;
  }

  /* ***  about *** */

  .about{
    padding-top: 10rem;
  }

  .about .about-img{
    height: 350px;
    width: 350px;
  }

  /* ***  services *** */

  .services{
    height: 100vh !important;
  }

  /* ***  Pricing *** */

  .pricing{
    margin-top: 0 !important;
    height: 100vh;
    padding-top: 8rem;
  }

  .pricing .heading{
    margin-bottom: 1rem !important;
  }

    /* ***  portfolio *** */

    .portfolio{
      height: 100vh !important;
      display: flex;
      align-items: center;
    }

  /* *** Expérience *** */

  .modal-body .modal-part-text{
    padding-top: 8rem;
  }

  .experience .education-details .education-item,
.work .work-details .work-item{
  min-height: 300px;
}

/* *** Contact *** */

.form-part{
  margin-top: 0;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  /* ***  header *** */

  .header .menu ul{
    display: flex;
  }

  /* ***  Experience *** */

  .experience{
    padding-top: 6rem;
  }

  .experience .education-details .education-item,
.work .work-details .work-item{
  min-height: 250px;
}

/* ***  Contact *** */

.contact-info h4{
  font-size: 30px;
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 
}